<div class="header-container bg-ceduc"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()"><span>
      <img src="http://www.ceduc.cm/web/logo_ceduc.png" alt="logo CEDUC" title="CEDUC home">  CEDUC SCHOOL MANAGER</span></div>
  </div>
 <!--  <ngx-theme-switcher></ngx-theme-switcher> -->

</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>
  <nb-action>
    <nb-user [menu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
  </nb-action>
  <nb-action class="control-item" disabled icon="nb-notifications text-white"></nb-action>
  <nb-action class="control-item" icon="nb-email text-white"></nb-action>
  <nb-action class="control-item">
   <!--  <nb-search type="rotate-layout" (click)="startSearch()"></nb-search> -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 text-white" type="submit">Search</button>
    </form>
  </nb-action>
</nb-actions>
